/* navbar ko css */

.navbar {
    background-color: #333; /* Dark background */
    color: white;
    display: flex; /* Uses Flexbox for layout */
    justify-content: space-between; /* Pushes logo to one end, links to the other */
    align-items: center; /* Centers items vertically */
    padding: 10px 20px;
    /* position: fixed;  */
    width: 97%;
    top: 0;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none; /* Removes bullet points */
    display: flex;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block; /* Makes the entire link area clickable */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

.nav-links li a:hover {
    background-color: #555; /* Slightly lighter background on hover */
    border-radius: 5px;
}

.HomePage {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.homepageImg {
    width: 80%;
    height: 81vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.getstarted {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
    background-color: rgb(27, 244, 27);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 72%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.whiteBox {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 15%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 10;
}



