<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Register</title>

    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    
    <!-- navbar -->

    <nav class="navbar">
        <a href="#" class="logo">Student</a>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'studentRecord' %}">StudentRecord</a></li>
            <li><a href="{% url 'recycle' %}">Recycle</a></li>
        </ul>
    </nav>

    <!-- Student register form -->
 
    <form class="form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <p class="title">Register </p>
        <p class="message">Signup now and get full access to our app. </p>
        {% if error %}
            <p style="color: red; text-align: center; font-weight: bold; margin: 10px 0;">{{ error }}</p>
        {% endif %}
        <div class="flex">
            <label>
                <input class="input" type="text" name="name" placeholder="" required="" id="nameInput">
                <span>Name</span>
            </label>
        </div> 

        <label>
            <input class="input" type="number" name="age" placeholder="" required="" min="1">
            <span>Age</span>
        </label>
        
        <label>
            <input class="input" type="email" name="email" placeholder="" required="">
            <span>Email</span>
        </label> 
        <label>
            <input class="input" type="text" name="message" placeholder="">
            <span>Message</span>
        </label> 

        <button class="submit" type="submit">Submit</button>
        <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
    </form>

</body>
</html>